<div class="site-wrapper background-img" style="background: url('<%= @cdn_url %>/img/champion/splash/<%= @top_champion[1]["key"] %>_0.jpg') no-repeat center center fixed;">

  <div class="container">
    <div class="page-header big-text">
      <h1><%= @summonername %> Should Play:</h1>
      <h1> <%= @top_champion[1]["name"] %> - <%= @top_champion[1]["title"] %></h1>
      <h3> Mastery Level: <%= @top_champion[1]["masteries"]["championLevel"] %> -- Highest Grade: <%= @top_champion[1]["masteries"]["highestGrade"] %> </h3>
    </div>
    <div class="row">
    <% @display_info.each do |champ| %>
      <% if ( !champ[1]["masteries"]["chestGranted"]) %>
      <div class="champ-block">
        <div class="col-md-6 col-xs-6 champ-img">
          <img src="<%= @cdn_url %>/<%= @version %>/img/champion/<%= champ[1]["key"] %>.png">
        </div>
        <div class="col-md-6 col-xs-6 champ-info">
          <p>Champion: <%= champ[1]["name"] %></p>
          <p>Highest Grade: <%= champ[1]["masteries"]["highestGrade"] %></p>
          <p>Mastery Level: <%= champ[1]["masteries"]["championLevel"] %></p>
          <p>Mastery Points: <%= champ[1]["masteries"]["championPoints"] %></p>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
