<h1>Champions</h1>
<div>
  <div class="background-img">
    <img src="<%= @cdn_url %>/img/champion/splash/<%= @top_champion[1]["key"] %>_0.jpg">
  </div>
  <% @display_info.each do |champ| %>
    <% if ( !champ[1]["masteries"]["chestGranted"]) %>
    <div class="champ_visual">
      <img src="<%= @cdn_url %>/<%= @version %>/img/champion/<%= champ[1]["key"] %>.png">
    </div>
    <div class="champ_info">
      <span>
        <%= champ[1]["name"] %> <%= champ[1]["masteries"]["highestGrade"] || "No Grade" %>
      </span>
    </div>
    <% end %>
  <% end %>
</div>
