
<div class="site-wrapper background-img" style="background: url('/assets/chest-key.png') no-repeat center center;">
  <div class="container">
    <div class="page-header big-text-black">
      <h1>Which Champion Should You Play To Earn Your Next League HexTech (TM) Crate?</h1>
    </div>
  </div>
  <div class="container login-form">
    <%= form_tag("/champions/list", method: "get") do -%>
      <%= label_tag(:region, "Region") %>
      <%= select_tag "region", options_for_select(["BR", "EUNE", "EUW", "JP", "KR", "LAN", "LAS", "NA", "OCE", "RU", "TR"], "NA") %>
      <%= label_tag(:summonername, "Summoner Name:") %>
      <%= text_field_tag(:summonername) %>
      <%= submit_tag("Enter") %>
    <% end -%>
    <p><%= @message %></p>
  </div>
</div>
